.tainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: auto;
    background: gray;
    gap: 25px;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.iput{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}

.iput img{
    margin: 20px 10px;
    margin-right: 250px;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}
.iputs iput{
    height: 30px;
    width: 150px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.buttn{
    margin: auto;
    background: purple;
    width: 110px;
    height: 29px;
    color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}